<div style="height:100%;display:flex;flex-direction: column;">
  <div class="status-bar status-connected" *ngIf="connectionId">
    <b>Connected!</b> Your connection id is: {{connectionId}}
  </div>
  
  <div class="status-bar status-connecting" *ngIf="!connectionId">
    <b>Connecting...</b> Trying to establish a connection to the server
  </div>
  
  <div class="container">
    <div class="chat-container">
      <h3>RTChat</h3>
  
      <ng-container *ngIf="messages.length > 0">
        <div class="chat-output empty" #chatOutput>
          <div *ngFor="let message of messages" class="tile">
            <div class="tile-icon">
              <figure class="avatar"><img src="/assets/avatar-1.png" alt="Avatar"></figure>
            </div>
            <div class="tile-content">
              <p class="tile-title text-bold">{{message.peerId}}</p>
              <p class="tile-subtitle">{{message.message}}</p>
            </div>
          </div>
    
        </div>
      </ng-container>
     
      
      <div *ngIf="messages.length == 0" class="chat-output empty chat-output-empty">
        <div class="empty-icon">
          <i class="icon icon-mail icon-4x"></i>
        </div>
        <p class="empty-title h5">You have no new messages</p>
      </div>
    
      <div class="chat-actions">
        <div class="input-group">
          <input [(ngModel)]="chatMessage" class="form-input" (keyup.enter)="sendMessage()"  placeholder="Enter your message" />
          <button (click)="sendMessage()" class="btn btn-primary">Send</button>
        </div>
      </div>
    </div>
  
    <div class="connections-container">
      <b>Connections</b>
  
      <div class="connections-list">
        <div *ngFor="let connection of connections()" class="tile">
          <div class="tile-content">
            <p class="tile-title">{{connection}}</p>
            <!-- <p class="tile-title">{{message.peerId}}</p>
            <p class="tile-subtitle">{{message.message}}</p> -->
          </div>
        </div>
      </div>
  
      <div class="input-group">
        <input [(ngModel)]="peerId" class="form-input" (keyup.enter)="connectPeer()"  placeholder="Enter peer ID" />
        <button (click)="connectPeer()" class="btn btn-primary">Connect</button>
      </div>
    </div>
  </div>
  
</div>
